#home img{
    width: 100%;
    margin-top: -70px;
    height: 100%;
}


@media(max-width:768px){
    #home .row{
        flex-direction: column-reverse;
    }
}
@media(max-width:576px){
    #home h1{
        font-size: 35px;
    }
    #home img{
        text-align: center;
    }
}